html, body {

  visibility: visible;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 10px;
  // font-family: Druk;
  // color: text-purple;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @media mq-tablet {
    position: relative;
    height: 100%;
    overflow-x: hidden;
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
}

ul,
li {
  list-style: none;
}
