// @font-face {
//   font-family: 'Druk';
//   src: url('../assets/fonts/DrukText-Bold-Web.woff'),
//        url('../assets/fonts/DrukText-Bold-Web.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  500;
// }
//
// @font-face {
//   font-family: 'Druk';
//   src: url('../assets/fonts/DrukText-BoldItalic-Web.woff'),
//        url('../assets/fonts/DrukText-BoldItalic-Web.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  500;
// }
//
// @font-face {
//   font-family: 'Druk';
//   src: url('../assets/fonts/DrukText-Heavy-Web.woff'),
//        url('../assets/fonts/DrukText-Heavy-Web.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   normal;
//   font-weight:  700;
// }
//
// @font-face {
//   font-family: 'Druk';
//   src: url('../assets/fonts/DrukText-HeavyItalic-Web.woff'),
//        url('../assets/fonts/DrukText-HeavyItalic-Web.woff2') format('woff2');
//   font-stretch: normal;
//   font-style:   italic;
//   font-weight:  700;
// }
//
// Druk    = "Druk", Arial, Sans-Serif;
// Recife  = "Recife", Times, Serif;
