
h1, h1 a {
  font-size: h1-fs;
  line-height: h1-lh;
  font-weight: 700;
  // font-family: Druk;
  margin: 0 0 20px;
}

h2, h2 a {
  font-size: h2-fs;
  line-height: h2-lh;
  font-weight: 300;
  margin: 0;
}

h3, h3 a {
  font-size: h3-fs;
  line-height: h3-lh;
  font-weight: 300;
  // font-family: Druk;
  margin: 0;
}

h4, h4 a {
  font-size: h4-fs;
  line-height: h4-lh;
  font-weight: 300;
  // font-family: Druk;
  margin: 0;
}

h5, h5 a {
  font-size: h5-fs;
  line-height: h5-lh;
  font-weight: 300;
  margin: 0;
}

h6, h6 a {
  font-size: h6-fs;
  line-height: h6-lh;
  font-weight: 300;
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: underline;
}

a,
p,
input,
li  {
  font-size: body-fs;
  line-height: body-lh;
  font-weight: 300;
  text-decoration: none;
}

.center {
  text-align: center;
}
