
/* Font Sizes */

h1-fs			   		= 7.8rem;
h2-fs			   		= 3.2rem;
h3-fs			   		= 3.2rem;
h4-fs			   		= 2.0rem;
h5-fs			   		= 2.0rem;
h6-fs			   		= 2.0rem;
body-fs        	= 2.0rem;

h1-mobile       = 3.8rem;

/* Line heights */

h1-lh					  = 1.03;
h2-lh					  = 1.5;
h3-lh					  = 1.5;
h4-lh					  = 1.6;
h5-lh					  = 1.6;
h6-lh					  = 1.6;
body-lh   		  = 1.6;

/* Sizes */
appMaxWidth     = 1440px;
contentMaxWidth = 939px;
appPadding      = 20px;
mobile-width    = 100%;
headerHeight    = 88px;

/* Colors */

gray            = #afafaf;
white           = #FFFFFF;
black           = #000000;

/* Breakpoints */

bp-phone        = 480px;
bp-phone-lg     = 640px;
bp-tablet       = 850px;
bp-tablet-lg    = 1024px;
bp-desktop      = 1280px;
bp-large        = appMaxWidth;

/* Media Queries */
mq-phone        = "all and (max-width: " + bp-phone + ")";
mq-phone-lg     = "all and (max-width: " + bp-phone-lg + ")";
mq-tablet       = "all and (max-width: " + bp-tablet + ")";
mq-tablet-lg    = "all and (max-width: " + bp-tablet-lg + ")";
mq-desktop      = "all and (max-width: " + bp-desktop + ")";
mq-desktop-lg   = "all and (min-width: " + bp-large + ")";
